<p>login works!</p>
<button routerLink="/register">Register here</button>
<router-outlet></router-outlet>

<form [formGroup]="registerForm" (ngSubmit)="newUserInputs()">
  <h1>Welcome to...</h1>
  <p>Log in to your account</p>

  <div>
    <p>Email</p>
    <mat-form-field appearance="outline">
      <input
        type="email"
        matInput
        placeholder="example@email.com"
        formControlName="email"
      />
    </mat-form-field>
  </div>

  <div>
    <p>Password</p>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Submit</button>
</form>
