<p>home works!</p>
<button routerLink="/personal-info">Personal Info</button>
<button routerLink="/professional-info">professional Info</button>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut in dicta ipsum tenetur, praesentium ullam laudantium distinctio maxime aliquid libero animi itaque minus, similique dolore pariatur ad quam, provident obcaecati.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut in dicta ipsum tenetur, praesentium ullam laudantium distinctio maxime aliquid libero animi itaque minus, similique dolore pariatur ad quam, provident obcaecati.</p>
<router-outlet></router-outlet>