<div class="mainContainer" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="example-card " fxLayout="column" fxLayoutAlign="center start" fxFlex="80">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <h1>personal Details</h1>
            <form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit(personalInfoForm)">

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First name:</mat-label>
                        <input required matInput type="text" id="firstName" formControlName="firstName">
                        <mat-error *ngIf="function['firstName'].invalid && function['firstName'].pristine ">
                            Please enter your first name
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name:</mat-label>
                        <input matInput type="text" formControlName="lastName">
                        <mat-error *ngIf=" function['lastName'].invalid && function['lastName'].pristine ">
                            Please enter your Last name
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>ID Number:</mat-label>
                        <input matInput type="number" formControlName="idNumber">
                        <mat-error *ngIf=" function['idNumber'].invalid && function['idNumber'].pristine  ">
                            Please enter your identity number!!
                            <span>ID should be have 13 digits</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Nationality:</mat-label>
                        <mat-select disableRipple formControlName="nationality">
                            <mat-option value="southAfrica">South African</mat-option>
                            <mat-option value="american">American</mat-option>
                            <mat-option value="nigerian ">Nigeria</mat-option>
                        </mat-select>
                        <mat-error *ngIf="function['nationality'].invalid && function['nationality'].pristine ">
                            Nationality is required
                        </mat-error>
                    </mat-form-field>

                </div>


                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-radio-group aria-label="Gernder" formControlName="gender">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-error *ngIf="function['gender'].invalid && function['gender'].pristine ">
                            Gender required
                        </mat-error>
                    </mat-radio-group>

                    <mat-form-field appearance="outline" class="resize">
                        <mat-label>Date of Birth:</mat-label>
                        <input matInput required formControlName="dateOfBirth" name="dateOfBirth" [matDatepicker]="picker1">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="function['dateOfBirth'].invalid && function['dateOfBirth'].pristine ">
                            Date of birth required
                        </mat-error>
                    </mat-form-field>


                </div>
                <div formGroupName="contactDetails" fxLayout="row" fxLayoutAlign="space-between center">

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email:</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="contact">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline" class="resize">
                        <mat-label>phone Number:</mat-label>
                        <input type="tel" matInput placeholder="555-555-1234" formControlName="phoneNumber">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <mat-error *ngIf="contact">
                            Phone number required
                            <p>phone Number should have 10 digits</p>
                        </mat-error>
                    </mat-form-field>

                </div>

                <div formGroupName="address">
                    <div fxLayout="row" fxLayoutAlign="space-between center">

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Address:</mat-label>
                            <textarea formControlName="address" matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
                            <mat-error *ngIf="addresses">
                                Address required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>City:</mat-label>
                            <input matInput placeholder="Ex. San Francisco" formControlName="city">
                            <mat-error *ngIf="addresses">
                                city required!!
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>State:</mat-label>
                            <input matInput placeholder="Ex. California" formControlName="state">
                            <mat-error *ngIf="addresses">
                                state required!!
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Postal Code:</mat-label>
                            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043" formControlName="postalCode">
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                            <mat-error *ngIf="addresses">
                                postal Code required!!
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button type="submit" color="primary" [disabled]="!personalInfoForm.valid" routerLink="/professional-info">Complete</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>