<p>register works!</p>
<button routerLink="/login">Login here</button>
<router-outlet></router-outlet>

<form [formGroup]="registerForm" (ngSubmit)="registerNewUser()">
  <h1>Welcome to...</h1>
  <p>Create a new account</p>
  <div>
    <p>Full Name</p>
    <mat-form-field appearance="outline">
      <input matInput placeholder="eg. John Doe" formControlName="fullName" />
    </mat-form-field>
  </div>

  <div>
    <p>Email</p>
    <mat-form-field appearance="outline">
      <input
        type="email"
        matInput
        placeholder="example@email.com"
        formControlName="email"
      />
    </mat-form-field>
  </div>

  <div>
    <p>Phone Number</p>
    <mat-form-field appearance="outline">
      <input
        type="tel"
        matInput
        placeholder="0123456789"
        formControlName="phoneNumber"
      />
    </mat-form-field>
  </div>

  <div>
    <p>Create a password</p>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>
  </div>
  <div>
    <p>Confirm password</p>
    <mat-form-field appearance="outline">
      <input
        type="password"
        matInput
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
    </mat-form-field>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Submit</button>
</form>
