.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .center{
      margin: 100px 0px;
  }
  button{
      margin: 10px;
  }
  .greenBtn{
      color:green;
  }
  .greenBtnBg{
      background-color: green;
      color:white;
  }